flask<2.3  # connexion is not compatible with flask 2.3
urllib3<1.27  # botocore req
flask-restx
Werkzeug
flask_swagger_ui
connexion
SQLAlchemy
schematics
pyjwt
passlib
cryptography>=41.0.3
boto3
passwords
alembic
connexion[swagger-ui]
