# flask 2.3.2 needs Werkzeug>=2.3.3 but connexion 2.14.2 compatible with werkzeug<2.3
flask==2.2.4
flask-restx
Werkzeug
flask-transmute
connexion
SQLAlchemy
schematics
pyjwt==2.5.0
passlib
cryptography
boto3
passwords
alembic
connexion[swagger-ui]
