flask  # connexion is not compatible with flask 2.3
urllib3
flask-restx
Werkzeug
flask_swagger_ui
connexion
SQLAlchemy
schematics
pyjwt
passlib
cryptography>=41.0.3  # security vulnerability in cryptography 41.0.2
boto3>=1.33.0  # there is error in metadata for older
s3transfer>=0.8.2  # to have newer botocore
passwords
alembic
connexion[swagger-ui,flask]
starlette>=0.36.2
